xaero/
.curseclient
schematics/
logs/
downloads/
.replay_cache/
.mixin.out/
XaeroWaypoints_BACKUP*/
1.21.1-NeoForge.jar
command_history.txt


worlds/
saves/
replay_recordings/
debug/
screenshots/


TrashSlotSaveState.json

usercache.json
usernamecache.json
1.21.1-NeoForge.json

crash-reports/

*.log